.title-aboutus {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    /* color: #335C4E; */
    color: whitesmoke;
}

.content-text {
    background-color: #4B7566;;
}

.head-items {
    display: flex;
    gap: 40px;
}

.title-text {
    display: block;
    margin-top: 40px;
}

.description {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color:  whitesmoke;
    margin-right: 150px;
    text-align: justify;
}

.content-text {
    color: whitesmoke;
    /* color: #4B7566; */

}

.content-aboutus {
    padding-top: 150px;
}

.graphic {
    width: 350px;
    height: 350px
}