.title-contactus {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    /* color: #335C4E; */
    color: whitesmoke;
    margin-top: 90px;
    padding-left: 80px;
    margin-bottom: 0;
}

.content-text-contact {
    background-color: #335C4E;
    border-radius: 100px;
    padding: 40px;
    position: relative;
    justify-content: center;
    /* background-color: #4B7566; */
    text-align: left;
    z-index: -2;
    /* border: 8px solid rgb(255, 136, 0); */
    margin-left: 0;
    height: fit-content;
    margin-top: 15px;
    padding-left: 80px;
    margin-right: -300px;
}


.contact-bold {
    font-size: 25px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #6F9285;
    /* color: #335C4E; */
}


.graphic {
    z-index: 2;
    margin-top: -30px;
}

.content-contact {
    padding-top: 150px;
    position: relative;
    display: flex;
    justify-content: center;
}

.contact-p {
    padding-left: 30px;
    font-weight: 600;
    bottom: 20px;
    color: whitesmoke;
}

.line {
    position: relative;
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.head-items {
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 30px;
}