/* *{
  outline: red 1px solid;
} */

.course-title{
    display: flex;
    margin: auto;
    /* margin-top: -0.5cm; */
}
.title-courses{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    /* color: #335C4E; */
    color: whitesmoke;
}

.course-container {
    position: relative;
    width: 50%;
   
  }
  
  .course-background {
    background-color: #335C4E;
    border-radius: 100px;
    padding: 40px;
    position: relative;
    justify-content: center;
    /* background-color: #4B7566; */
    text-align: left;
    z-index: -2;
    /* border: 8px solid rgb(255, 136, 0); */
    margin-left: 0;
    height: 3cm;
    width: 13cm;
    margin-top: 15px;
    padding-left: 80px;
    margin-right: -300px;
  }
  
  .course-text {
    color: white;
    font-size: 40px;
    font-weight:bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }


  .course-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
    border-radius: 100px;
  }
  
  .course-container:hover .course-overlay {
    opacity: 1;
  }
  
  .course-overlay-text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

  .courserow1{
    display: flex;
    column-gap: 80px;
    margin: auto;
    margin-left: 20px;
    margin-bottom: 1cm;
    
  }
  .courserow2{
    display: flex;
    column-gap: 80px;
    margin: auto;
    margin-left: 20px;
    margin-bottom: -1cm;
    
  }


  /* addcourse tab  */
  .add-course-container {
    background-color: #335c4e70;
    border-radius: 25px;
    border: 1px solid #335c4eaf;
    color: white;
  }


  /* VIEW COURSE CSS HERE */
  .view-courses-container {
    color: white;
  }

  #coursebutton{
  background: #ff871f;
  /* background: #6F9285; */
  /* background: #335C4E; */
  border: none;
  border-radius: 30px;
  color: #335C4E;
  /* color: #ff871f; */
  cursor: pointer;
  font-size: 20px;
  opacity: 0.999;
  padding-top: 10px;
  padding-bottom: 10px;
  /* margin-bottom: 40px; */
  /* padding: none; */
  margin-top: 5%;
  margin-left: 40em;
  position: relative; 
  width: 20%;
  font-weight: 700;
  height: 110%;
  }

  #submitcoursebutton{
    background: #ff871f;
    /* background: #6F9285; */
    /* background: #335C4E; */
    border: none;
    border-radius: 30px;
    color: #335C4E;
    /* color: #ff871f; */
    cursor: pointer;
    font-size: 20px;
    opacity: 0.999;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-bottom: 40px; */
    /* padding: none; */
    margin-top: 3%;
    margin-left: 30em;
    position: relative; 
    width: 20%;
    font-weight: 700;
    height: 110%;
    }