body {
    background-color:#6F9285;
}

.homepg {
    
    position: static;
    display: inline;
    margin-bottom: 10em;

    font-family: "Roboto";
    /* border: 4px solid orange; */
}

.content {
    position: relative;
    padding: 5em;
    /* border: 4px solid greenyellow; */
}

.content-text {
    /* border: 4px solid blue; */
    text-align: center;
    background-color: whitesmoke;
    border: 1px transparent;
    border-radius: 6em;
    padding: 3em;
    margin: 5em;
    z-index: -5;
}

.rs-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin:0px;
    margin-right: 0px;
  } 

  

  /* .rs-logo img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 1px;
    padding: 0px;

    
  }  */
  a {
    text-decoration: none;
    color: whitesmoke; /* change to the desired color */
  }

  .divstuff{
    display: flex;
    justify-content: center;
  }

  .title{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    color: whitesmoke;
  }
  