body {
    background-color:#6F9285;
}

.homepg {
    
    position: static;
    display: inline;
    margin-bottom: 10em;

    font-family: "Roboto";
    
}

.content {
    position: relative;
    padding: 5em;
   
}

.content-text {
   
    text-align: center;
    background-color: whitesmoke;
    border: 1px transparent;
    border-radius: 6em;
    padding: 3em;
    margin: 5em;
    z-index: -5;
}

.rs-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin:0px;
    margin-right: 0px;
  } 

  
  a {
    text-decoration: none;
    color: whitesmoke; /* change to the desired color */
  }

  .divstuff{
    display: flex;
    justify-content: center;
  }


  .graphic{
    max-width: 40%;
    padding: 0px;
    display: flex;
    /* get graphic in center of page */
    align-items: center;
    justify-content: center;
    margin: 0px;
    margin-right: 0px;
  }

  .title{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    color: whitesmoke;
  }

  .quotations{
    width: 90%;
    opacity: 25%;
  }
  
.firsttext {
  position: absolute;
  color: whitesmoke;
  margin-top: -12.5em;
  margin-left: 2em;
  font-size: 20pt;
  font-weight: bold;
  font-style: bold;
  font-family: Roboto;
}

.littletext {
  position: absolute;
  color: whitesmoke;
  margin-top: -10em;
  margin-left: 3em;
  font-size: 17pt;
  font-style: italic;
  font-family: Roboto;
}