/* .mycourses {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    color: whitesmoke;
    margin-top: 150px;
    padding-left: 70px;
    margin-bottom: 0;
}


.content-text-enrolled {
    background-color: #335C4E;
    border-radius: 100px;
    padding: 40px;
    position: relative;
    justify-content: center;
    text-align: left;
    z-index: -2;
    margin-left: 0;
    height: fit-content;
    margin-top: 15px;
    padding-left: 80px;
    margin-right: -300px;
} */


/* 

.enrolled {
    font-size: 25px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #6F9285;
}

.line {
    position: relative;
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.head-items {
    position: relative;
    display: flex;
    margin-top: -10em;
}

.coursename{
    color: whitesmoke;
}

.LPgraphic{
    position: absolute;
    margin-top: -23em;
    height: 90%;
    padding-left: 55em;
} */

.content-contact {
    margin: 0;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    color: whitesmoke;
    /* color: #6F9285; */
}

.box {
    /* max-width: 600px; */
    width: 100%;
    /* min-width: 500px; */

    background-color: #335C4E;
    border-radius: 50px;
   padding: 20px;
    margin-left: 50px;

    
}

.LPgraphic2 {
    display: none;
}

@media screen and (max-width: 1285px) {
    .LPgraphic {
        display: none;
    }
    .LPgraphic2 {
        display: block;
        position: relative;
        top: -10%;
        margin-top: -100px;
    }
    .box {
        margin: auto;
        position: relative;
        left: -22px;
    }

}

.LPgraphic {
    width: 100%;
    height: 100%;
    max-height: 800px;
    max-width: 800px;
    margin: auto;
}
.my-modules {
    margin-bottom: 10px;
}

.about-me {
    margin-top: 10px;
}

.info-containers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    max-width: 700px;
    min-width: 450px;
    margin: auto;
}

.info-containers th, .info-containers td {
    border: none;
}

.info-containers th {
    /* border-radius: 25px; */
    background-color: #6f928551;

}

.content-contact h1 {
    text-align: center;
}

.about-me th {
    background-color: #6f928551;
    border-radius: 50px;
}

.my-modules tr:nth-child(2n-1) {
    background-color: #6f928551
}
.my-modules tr:nth-child(1) {
    background-color: #6f9285
}