.container1 {
    position: relative;
    width: 50%;
   
  }
  
  .image1 {
    display: block;
    width: 90%;
    height: auto;
    border-radius: 20px;
  }
  
  .overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
    border-radius: 20px;
  }
  
  .container1:hover .overlay1 {
    opacity: 0.95;
  }
  
  .text1 {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

  .container2 {
    position: relative;
    width: 50%;
  }
  
  .image2 {
    display: block;
    width: 90%;
    height: auto;
    border-radius: 20px;
    
  }
  
  .overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
    border-radius: 20px;
  }
  
  .container2:hover .overlay2 {
    opacity: 0.95;
  }
  
  .text2 {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  .imagerow{
    display: flex;
    column-gap: 25px;
    margin: auto;
    margin-left: 60px;
    margin-top: 1cm;
  }
  .projectgif{
    margin: auto;
    width: 300px;
    height: auto;
    margin-top: -1cm;
    margin-right: 0cm;
  }
  .title-ourprojects {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    /* color: #335C4E; */
    color: whitesmoke;
}
.project-title{
  display: flex;
  margin: auto;

}

.projectgif{
  margin: auto;
  /* size: 150%; */
  width: 20%;
  margin: 0px;
  height: auto;
}