#post{
    background: #ff6d23;
    border: none;
    border-radius: 30px;
    color: #335C4E;
    cursor: pointer;
    font-size: 20px;
    opacity: 0.999;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    -webkit-transition: 0.2s ease background;
    transition: .2s ease background;
    width: 40%;
    font-weight: 700;
    margin-top: 1em;
    width: 97%;
}

input {
    border: none;
    border-bottom: 1px solid #9E9E9E;
    border-radius: 30px;
    display: block;
    font-size: 16px;
    padding: 10px;
    -webkit-transition: 0.2s border-bottom;
    transition: 0.2s border-bottom;
    width: 95%;
    background-color:#6F9285;
  }
  
  input:focus, input:invalid {
    box-shadow: none;
    outline: none;
  }

  .questionform{
    background: #335C4E;
    border: none;
    border-radius: 30px;
    color: whitesmoke;
    cursor: pointer;
    font-size: 15px;
    opacity: 0.999;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
  }

  #box{
    margin-top: 10px;
  }

  #questionbox{
    margin-top: 10px;
    height: 50px;
  }


  .title{
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    color: whitesmoke;
  }

  .title2{
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    color: whitesmoke;
  }