.view-courses-container {
  overflow-x: auto;
}

#coursestable{
  width: 100%;
  border-collapse: collapse;
  
  margin: 0 auto;
  text-align: center;
}

table{
  border-radius: 10%;
}

th{
  background-color: #ff871f;
  font-weight: 10000;
  color: #fff;
  
  padding: 10px;
  margin-bottom: 5em;
  height: 50px;
}

tr{
  
  padding: 10px;
  margin-bottom: 5em;
}

.tableheading{
  gap: 10rem;
  height: 50px;
}

.addCourse{
  background: #335C4E;
  border: none;
  border-radius: 30px;
  color: whitesmoke;
  cursor: pointer;
  font-size: 15px;
  opacity: 0.999;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
}

.coursedesc{
  display: flex;
  resize: none;
  height: 100px;
  background-color: #6F9285; 
  
  border-radius: 20px;
  justify-content: left;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.submitcoursebutton {
  background: #ff871f;
  border: none;
  border-radius: 30px;
  color: #335C4E;
  
  cursor: pointer;
  font-size: 20px;
  opacity: 0.999;

  margin-bottom: 20px;
  position: relative;

  font-weight: 700;
}

.inputfield {
  background-color: #6F9285;
  margin-right: 0;
  width: 98%;
  height: 50%;
}